.firstSort, .otherSort {
    padding: 20px 30px;   
    border-radius: 20px;
    font-size: 20px;
    font-variant: small-caps;
    font-weight: 700;
    color: #fff;
    margin: 20px;    
  }  
  
  .firstSort {
    background-color: #008080;
    border: 8px solid #0c6666;
  
  }
  
  .otherSort {
    border: 8px solid #611717;
    background-color: #800000;
  }

  @media only screen and (min-width: 400px) {

  }

  @media only screen and (min-width: 1025px) {

    .firstSort, .otherSort {            
      border-radius: 50px;      
      cursor: pointer;
    }

    .firstSort:hover, .otherSort:hover {
      filter: brightness(0.9);
    }

  }